html{
    min-height: 100%;
}

body{
    background: linear-gradient(to bottom right,orange, white);
}

#ask_form_div{
    line-height: 550px;
    text-align:center; 
    vertical-align:middle;
}

#ask_acc_form{
    display: inline-block;
    vertical-align: middle;
    line-height: 14px; 
}