@media only screen and (max-width: 1199px) {
    #log_form_div{
        top: 85px;
        padding-top: 15%;
        position: relative;
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    #log_form_div{
        top: 85px;
        text-align: center;
        position: relative;
    }
}


html{
    min-height: 100%;
}

body{
    background: linear-gradient(to bottom right,orange, white);
}

#logo{
    max-width: 10%;
    height: auto;
}

#log_form_div{
    line-height: 550px;
    text-align:center;
    vertical-align:middle;
}

#login_form{
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
}


