footer{
    width: 100%;
    bottom: 0;
    font-size: 20px;
    background-color: dimgrey;
    text-align: center;
    z-index: 1;
}
main{
    position: relative;
    text-align: center;
    margin-bottom: 10rem;
}
@media only screen and (min-width: 1346px) {
    main{
        top: 85px;
        height: 150%;
    }
}

@media only screen and (max-width: 1347px){
    main{
        top: 85px;
        transform: translateY(7%);
    }

}

table{
    margin-left: auto;
    margin-right: auto;
}

html {
    height: 100%;
    font-family: Nunito;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, orange, white);
}

header {
    background-color: dimgray;
    margin: auto;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 70px;
}



footer a {
    color: lightgrey;
}

footer p {
    color: lightgrey;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: orange;
}

#adress {
    margin-top: -40px;
}

#country {
    margin-top: -70px;
}

#links {
    margin-top: -35px;
    margin-bottom: -10px;
}

#header {
    top: 0;
}

header a {
    font-size: 120%;
    color: lightgrey;
    margin-right: 5%;
    font-family: Nunito;
}

#logo {
    margin-top: 10px;
    max-width: 25%;
}

#partLeft {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-right: 25%;
    margin-bottom: 0%;
    float: left;
}

.part1 {
    padding: 3%;
    padding-top: 2%;
}

.links {
    padding: 10%;
    padding-top: 8%;
}

.part2 {
    padding: 6%;
    padding-top: 4%;

}

#partRight {
    display: flex;
    flex-direction: row;
    text-align: right;
    color: dimgrey;
    margin-left: 80%;
    margin-bottom: -30%;
}

table, th, td {
    background-color: white;
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}
