main{
    top: 85px;
    transform: translateY(7%);
    position: relative;
    text-align: center;
}

html{
    height: 100%;
    width: 100%;
}

a{
    color: lightgrey;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right,orange, white);
}

table td a {
    display: inline-block;
    text-align: center;
}


th, td {
    padding: 15px;
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

table td{
    text-align: center;
}

#tableRead{
    transform: translateX(33%);
}
