@media only screen and (max-height: 1199px) {
    main{
        top: 85px;
        padding-top: 15%;
        position: relative;
        text-align: center;
    }
}

@media only screen and (min-height: 1200px) {
    main{
        top: 85px;
        text-align: center;
        position: relative;
    }
}

html{
    height: 100%;
}

a{
    color: lightgrey;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right,orange, white);
}

header{
    background-color: dimgray;
    margin: auto;
    z-index: 1;
    position: fixed;
    width:100%;
    height:70px;
}

#partLeft
{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-right: 25%;
    margin-bottom: 0%;
    float: left;
}

.links
{
    padding: 10%;
    padding-top: 8%;
}

.part1
{
    padding: 3%;
    padding-top: 2%;
}

.part2
{
    padding: 6%;
    padding-top: 4%;

}

#partRight
{
    display: flex;
    flex-direction: row;
    text-align: right;
    color: dimgrey;
    margin-left: 80%;
    margin-bottom: -30%;
}



footer{
    width: 100%;
    position: absolute;
    top: 100%;
    font-size: 20px;
    background-color: dimgrey;
    text-align: center;
    font-family: Nunito;
}

footer a
{
    color: lightgrey;
}

footer p
{
    color: lightgrey;
}

a:link
{
    text-decoration:none;
}

a:hover
{
    color: orange;
}

#header{
    margin: auto;
}

#logo
{
    margin-top: 10px;
    max-width: 25%;
}

