@media only screen and (max-width: 1347px) {
    main{
        top: 85px;
        transform: translateY(7%);
        position: relative;
        text-align: center;
    }
    footer{
        width: 100%;
        position: absolute;
        top: 135%;
        font-size: 20px;
        background-color: dimgrey;
        text-align: center;
        font-family: Nunito;
    }
    #addWish
    {
        margin-left: -4%;
        margin-top: 4%;
    }
}

@media only screen and (min-width: 1348px) {
    main{
        top: 85px;
        text-align: center;
        position: relative;
    }
    footer{
        width: 100%;
        position: absolute;
        top: 110%;
        font-size: 20px;
        background-color: dimgrey;
        text-align: center;
        font-family: Nunito;
    }
}

.form_div{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}

input[type=text] {
    padding: 6px;
    border: 1px solid;
    font-size: 17px;
    width: 300px;
}

#paginate-user ul {
    list-style-type: none;
    font-size: larger;
    margin-left: 46%;
}

#paginate-comp ul {
    list-style-type: none;
    font-size: larger;
    margin-left: 46%;
    padding-bottom: -10%;
}

#paginate-offer ul {
    list-style-type: none;
    font-size: larger;
    margin-left: 46%;
}

ul li{
    float: left;
    margin-left: 1%;
}

html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right,orange, white);
}

header{
    background-color: dimgray;
    margin: auto;
    z-index: 1;
    position: fixed;
    width:100%;
    height:70px;
}

table td{
    text-align: center;
}

table td a{
    display: inline-block;
    text-align: center;
}

.center{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.clickme {
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}

.danger {
    background-color:orange;
    color: #FFFFFF;
}

.danger:hover {
    background-color:#FF8C00;
    color: #FFFFFF;
}

.critical {
    background-color: orangered;
    color: #FFFFFF;
}

.critical:hover {
    background-color:red;
    color: #FFFFFF;
}

.wish {
    background-color:green;
    color: #FFFFFF;
}

.wish:hover {
    background-color: #006400;
    color: #FFFFFF;
}

#main{
    top: 85px;
    position: relative;
}

#table_div{
    margin-top: 50px;
}



footer a
{
    color: lightgrey;
}

footer p
{
    color: lightgrey;
}

a:link
{
    text-decoration:none;
}

a:hover
{
    color: orange;
}

#adress{
    margin-top: -40px;
}

#country{
    margin-top: -70px;
}

#links{
    margin-top: -35px;
    margin-bottom: -10px;
}

#header{
    margin: auto;
}

header a
{
    font-size: 120%;
    color: lightgrey;
    margin-right: 5%;
    font-family: Nunito;
}

#logo
{
    margin-top: 10px;
    max-width: 25%;
}

#partLeft
{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-right: 25%;
    margin-bottom: 0%;
    float: left;
}

.part1
{
    padding: 3%;
    padding-top: 2%;
}

.links
{
    padding: 10%;
    padding-top: 8%;
}

.part2
{
    padding: 6%;
    padding-top: 4%;

}

#partRight
{
    display: flex;
    flex-direction: row;
    text-align: right;
    color: dimgrey;
    margin-left: 80%;
    margin-bottom: -30%;
}

table, th, td{
    border: 1px solid black;

}

label, input{
    margin-left: -35%;
}

th, td{
    padding: 15px;
}
