html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right,orange, white);
}

header{
    background-color: dimgray;
    margin: auto;
    z-index: 1;
    position: fixed;
    width:100%;
    height:70px;
}

table td{
    text-align: center;
}

table td a{
    display: inline-block;
    text-align: center;
}

.center{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.clickme {
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}

.danger {
    background-color:orange;
    color: #FFFFFF;
}

.danger:hover {
    background-color:orangered;
    color: #FFFFFF;
}

.critical {
    background-color: orangered;
    color: #FFFFFF;
}

.critical:hover {
    background-color:red;
    color: #FFFFFF;
}

#main{
    top: 85px;
    position: relative;
}

#form_div{
    text-align: center;
}

footer{
    width: 100%;
    position: absolute;
    top: 100%;
    font-size: 20px;
    background-color: dimgrey;
    text-align: center;
    font-family: Nunito;
}



footer a
{
    color: lightgrey;
}

footer p
{
    color: lightgrey;
}

a:link
{
    text-decoration:none;
}

a:hover
{
    color: orange;
}

#adress{
    margin-top: -40px;
}

#country{
    margin-top: -70px;
}

#links{
    margin-top: -35px;
    margin-bottom: -10px;
}

#header{
    margin: auto;
}

header a
{
    font-size: 120%;
    color: lightgrey;
    margin-right: 5%;
    font-family: Nunito;
}

#logo
{
    margin-top: 10px;
    max-width: 25%;
}

#partLeft
{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-right: 25%;
    margin-bottom: 0%;
    float: left;
}

.part1
{
    padding: 3%;
    padding-top: 2%;
}

.links
{
    padding: 10%;
    padding-top: 8%;
}

.part2
{
    padding: 6%;
    padding-top: 4%;

}

#partRight
{
    display: flex;
    flex-direction: row;
    text-align: right;
    color: dimgrey;
    margin-left: 80%;
    margin-bottom: -30%;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 15px;
}